# Mock Modality Environment Variables

# Porta do servidor Mock Modality
SERVER_PORT=8081

# Configuração do Orthanc
MODALITY_ORTHANC_URL=http://orthanc:8042
MODALITY_ORTHANC_USERNAME=
MODALITY_ORTHANC_PASSWORD=

# Logging
LOGGING_LEVEL_ROOT=INFO
LOGGING_LEVEL_COM_OMNILAUDO_MOCKMODALITY=DEBUG
